*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ff5722;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar-: #f8f8f8;
  --color-headings: #000;
  --color-body: #333;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.22rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 8px;
  padding: 1.3rem 2.5rem;
  border: 0;
  outline: 0;
  white-space: nowrap;
  font-weight: 500;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

.badge {
  border-radius: 32px;
  white-space: nowrap;
  display: inline-block;
  text-transform: uppercase;
}

.badge--primary {
  font-size: 1.4rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 6px 19px 3px 19px;
}

.badge--secondary {
  font-size: 1.2rem;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  padding: 6px 16px 3px 16px;
}

.list {
  list-style: none;
  font-size: 1.8rem;
}

.list--inline .list__item {
  display: inline-block;
}

.list--tick .list__item {
  background: url(../assets/images/Tick-Square.svg) no-repeat;
  background-position: right center;
  padding-right: 3.5rem;
  background-color: var(--color-secondary-light);
  margin-bottom: 1.5rem;
}

.block-plan {
  display: grid;
  gap: 5rem 8rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
}

.card {
  display: inline-block;
  overflow: hidden;
  border-radius: 2rem;
  background-color: var(--color-secondary-light);
  transition: all 0.2s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.card--primary .card__header {
  background-color: #ff7a50;
}

.card--secondary .card__header {
  background-color: var(--color-secondary-dark);
}

.card__header,
.card__body {
  padding: 40px 20px;
}

.card__header {
  /* border-radius: 2rem 2rem 0 0; */
  font-size: 1.4rem;
  color: var(--color-white);
}

.card__introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card__price {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card__price span {
  font-size: 1rem;
}

.card__body .list.list--tick :last-child {
  margin-bottom: 80px;
}

.btn__card {
  padding: 1.3rem 8.5rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.feature__img {
  margin-bottom: 26px;
  text-align: center;
  padding: 0 10px;
}

.feature__img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.feature__detail h2 {
  margin-bottom: 15px;
}

.feature__detail p {
  margin-bottom: 36px;
  font-size: 1.4rem;
}

.feature__detail .btn--primary {
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-weight: 700;
}

/* .contact-us {
  width: 100%;
}

.contact-us__socials {
  width: 70%;
}

.contact-us__form {
  width: 30%;
} */

.contact-us,
.contact-us__social-and-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us__heading,
.contact-us__text {
  text-align: center;
}

.contact-us__heading {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.contact-us__text {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.contact-us__socials {
  display: flex;
  flex-direction: column;
}

.contact-us__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 8rem;
}

.contact-us__social-media a {
  text-decoration: none;
}

.contact-us__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5rem;
}

.contact-us__info__item {
  display: flex;
  align-items: center;
  direction: ltr;
}

.contact-us__info__item img {
  margin-right: 2rem;
}

.contact-us__form {
  direction: ltr;
  margin-top: 8rem;
  padding: 5rem 4rem;
  border-radius: 3rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.contact-us__form h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #252b42;
  text-align: center;
}

.contact-us__inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-us__inputs input {
  border-radius: 4rem;
}

.contact-us__inputs input,
.contact-us__inputs textarea {
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
  padding: 2rem;
}

.contact-us__inputs input:focus,
.contact-us__inputs textarea:focus {
  outline: 1px solid var(--color-secondary-dark);
}

.textarea {
  resize: none;
  height: 193px;
  border-radius: 7px;
}

input,
.textarea,
::placeholder {
  font-size: 1.4rem;
  font-family: Vazirmatn;
}

.contact-us__inputs .btn--primary {
  border-radius: 100px;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem 3rem 0.3rem 3rem;
  /* display: inline !important; */
  display: inline-block;
  align-self: baseline;
  margin-top: 2rem;
}

.footer {
  background-color: #000;
  padding: 5rem 3rem;
  color: var(--color-white);
}

.footer__info,
.footer__info__col {
  display: flex;
  flex-direction: column;
}

.footer__first-col img {
  margin-bottom: 3rem;
  width: 140px;
  height: auto;
}

.footer__first-col h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-white);
}

.footer__first-col p {
  font-size: 1.2rem;
}

.copy-right {
  color: #acacac;
  margin-top: 1rem;
}

.footer__info__col {
  margin-bottom: 2rem;
}
.footer__col__header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer__sub-link {
  font-size: 1.4rem;
  line-height: 30px;
  display: block;
  color: var(--color-white);
  text-decoration: none;
}

.footer__sub-link:hover {
  color: var(--color-primary);
}

.footer__info__col.enemad {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.footer__enemad {
  max-width: 86px;
  border-radius: 12px;
  margin-left: 10px;
  background-color: var(--color-white);
}

.footer__enemad img {
  width: 100%;
  height: auto;
}

.nav {
  background-color: var(--color-navbar-);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  flex-wrap: wrap;
}

.nav__logo {
  margin-top: 10px;
}

.nav__toggler {
  /* width: 35px; */
  /* height: auto; */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  border-radius: 100px;
  background-color: #000;
  margin: 5px 0;
  transition: all 0.4s ease-out;
}

.toggled .bar-one {
  transform: rotate(45deg);
  transform-origin: top left;
  /* margin: 8px 0; */
}

.toggled .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.toggled .bar-three {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  /* margin: 8px 0; */
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  /* display: none; */
}

.nav__item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #545454;
  padding: 0.5rem 0;
  display: inline-block;
}

.nav__item a:hover {
  color: var(--color-primary);
}

.btn__download {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  padding: 7px 40px;
  align-self: self-start;
  margin: 1rem 0;
  display: inline-block;
}

.hero-section {
  width: 100%;
  height: 500px;
  background: url(../assets/images/hero/hero.png) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__items {
  border-radius: 20px;
  display: inline-block;
  /* margin: 1rem auto; */
  padding: 16px;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
}

.hero-section h1,
.hero-section h2 {
  color: var(--color-white);
  font-weight: 700;
}

.hero-section h1 {
  font-size: 2.5rem;
}

.hero-section h2 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.hero__link__items {
  padding: 14px;
  margin: 14px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 2rem;
}

.hero__link__items span {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.btn--white {
  background-color: var(--color-white);
}

.btn--ghost {
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

.hero__phone-image {
  display: none;
}

.hidden,
.hidden-list {
  display: none;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  .container {
    padding: 0 10px;
  }
  .hidden-list {
    display: flex;
  }
  .hidden {
    display: block;
  }
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
  .list--tick .list__item {
    margin-bottom: 2rem;
  }
  .plan--popular {
    transform: scale(1.1);
  }
  .plan--popular:hover {
    transform: scale(1.15);
  }
  .feature :first-child {
    flex-direction: row-reverse;
  }
  .feature__section {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  .feature__img {
    padding: 0;
    text-align: unset;
  }
  .feature__img img {
    max-width: unset;
  }
  .feature__detail p {
    font-size: 1.8rem;
  }
  .feature__detail .btn--primary {
    font-size: 1.6rem;
  }
  .contact-us {
    width: 100%;
  }
  .contact-us__socials {
    width: 70%;
  }
  .contact-us__form {
    width: 30%;
  }
  .contact-us__text {
    padding: 0 38rem;
    margin-bottom: 4rem;
  }
  .contact-us__social-and-form {
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    justify-content: space-between;
  }
  .contact-us__socials {
    flex-direction: column-reverse;
    /* align-items: flex-end; */
  }
  .contact-us__social-media {
    justify-content: flex-end;
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .contact-us__img {
    width: 100%;
  }
  .contact-us__info {
    flex-direction: row;
    align-items: start;
    margin-bottom: 8rem;
    /* gap: 6rem; */
  }
  .contact-us__info img {
    margin-bottom: 2rem;
  }
  .contact-us__info .img-email {
    margin-bottom: 3.3rem;
  }
  .contact-us__info__item {
    flex-direction: column;
  }
  .contact-us__info__item img {
    margin-right: unset;
  }
  .contact-us__form {
    width: 100%;
    margin-top: 0;
  }
  .contact-us__form h3 {
    font-size: 3.5rem;
  }
  .contact-us__inputs {
    gap: 2rem;
  }
  .contact-us__inputs .btn--primary {
    margin-top: 3rem;
  }
  .footer {
    padding: 5rem 10rem;
  }
  .footer__info {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .footer__first-col {
    max-width: 160px;
  }
  .footer__col__header {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .nav {
    flex-wrap: nowrap;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 3rem;
    width: auto;
  }
  .nav__item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #545454;
  }
  .nav__item a:hover {
    color: var(--color-primary);
  }
  .hero-section {
    height: 530px;
    justify-content: space-around;
  }
  .hero__phone-image {
    width: 417px;
    height: auto;
    display: inline-block;
    margin-top: 357px;
  }
  .hero-section h1 {
    font-size: 5rem;
  }
  .hero-section h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  .hero__link__items span {
    font-size: 1.6rem;
  }
  .hero__links {
    width: 528px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
